<app-header [navegation]="navegation"></app-header>
<div class="home__container">
    <div class="objetivos__container">
        <h2 class="objetivos__titulo">Objetivos</h2>
        <div class="objetivos__cards">
            <mat-card class="objetivos__card">
                <mat-card-header>
                    <mat-card-title>Open Source</mat-card-title>
                </mat-card-header>

                <img mat-card-lg-image src="../../../assets/img/code.png" alt="Photo of a Shiba Inu">
                
                <mat-card-content>
                  <p>
                    Crear un software de código abierto asequible que automatice la monitorización de todo el proceso de producción de bioetanol.
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="objetivos__card">
                <mat-card-header>
                    <mat-card-title>Open Source</mat-card-title>
                </mat-card-header>

                <img mat-card-lg-image src="../../../assets/img/edit.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Facilitar la gestión de datos y la toma de decisiones al proporcionar una herramienta integral para la adquisición, el análisis en la producción de bioetanol.
                  </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="objetivos__card">
                <mat-card-header>
                    <mat-card-title>Open Source</mat-card-title>
                </mat-card-header>
                
                <img mat-card-lg-image src="../../../assets/img/share.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Fomentar la accesibilidad y la colaboración al ofrecer una solución de software que promueva la eficiencia y la sostenibilidad en la industria de biocombustibles.
                  </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>