<div class="home__container">
   <div class="home__contenido pilin">
      <h1 class="home__title">Bienvenido a Gatekeeper Systems.</h1>
      <p class="home__text">El inicio del proyecto se remonta a mediados de 2023, cuando nos preguntamos que tan difícil sería desarrollar un software de monitoreo industrial confiable con el uso de tecnologías modernas y diseños intuitivos.</p>
      <p class="home__text">Nuestro objetivo es mejorar las experiencias de usuario entre ingenieros para mejorar el proceso de desarrollo de proyectos industriales.</p>
   </div>
   <div class="home__image-div pilin">
      <img class="home__image" src="../../../assets/img/devices.png" alt="devices">
   </div>
</div>