<div class="header__container">
    <h1 class="header__title" (click)="goHome()">gatekeeper scada</h1>
    <ul class="header__list" *ngIf="navegation">
        <li><a href="#objetivos">Objetivos</a></li>
        <li><a href="#developers">Developers</a></li>
        <li><button class="header__button"><a href="#descargas" class="header__button-a">Descargar</a></button></li>
    </ul>
</div>
<div *ngIf="navegation">
    <img class="header__image" src="../../../assets/img/hover.png" alt="hover">
</div>