.header__container {
    display: flex;
    justify-content: space-between;
    background-color: #6096b4;
}

.header__title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    padding-left: 5rem;
}

.header__list {
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding-right: 5rem;
}

.header__list li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.8rem;
    padding: 0rem 2rem;
}
.header__list li:hover {
    color: #BDCDD6;
}
.header__button {
    border-radius: 3rem;
    padding: 1rem 3rem;
    border: none;
    background-color: #BDCDD6;
}

.header__button:hover {
    background-color: #fff;
    color: #6096b4;
    cursor: pointer;
}

.header__image {
    width: 100%;
}