<h1>Repositorios en GitHub</h1>

    <h2>Backend:</h2>
    <ul>
        <li><a href="https://github.com/HiramZednem/gatekeeperscada-backend" target="_blank">gatekeeperscada-backend</a></li>
    </ul>

    <h2>Frontend:</h2>
    <ul>
        <li><a href="https://github.com/HiramZednem/gatekeeperscada-frontend" target="_blank">gatekeeperscada-frontend</a></li>
    </ul>

    <h2>Scada:</h2>
    <ul>
        <li><a href="https://github.com/ManuelPeregrino/Gatekeeper-SCADA" target="_blank">Gatekeeper-SCADA</a></li>
    </ul>