h1, h2, h3 {
    padding: 0 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p {
    padding: 0 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

img {
    width: 70rem;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0 3rem;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}