<main class="descargar__container">
    <div class="descargar__grid">
        <div class="descargar__izquierda">
            <h2 class="descargar__title">Descarga Ahora</h2>
            <img src="../../../assets/img/download.png" alt="Descargar icono">
        </div>
        <div class="descargar__derecha">
            <div>
                <p>¿Te has preguntado cómo simplificar la monitorización de la producción de bioetanol? Buenas noticias, ¡nuestro software tiene la respuesta!</p>
                <p>Al utilizar nuestra avanzada herramienta de software, podrás automatizar procesos complejos, lo que significa menos trabajo manual y más eficiencia. Pero eso no es todo. También te capacitará para tomar decisiones más informadas en tiempo real, permitiéndote optimizar tus operaciones de producción de bioetanol como nunca antes.</p>
                <p>Pero lo mejor de todo es que, al unirte a nuestra comunidad de usuarios apasionados, no estarás solo en esta aventura. Colabora, comparte ideas y aprende de otros expertos en biocombustibles. ¡Es hora de dar un paso adelante en la producción de biocombustibles con nuestro software de monitorización!</p>
            </div>
            <button class="descargar__button">Descargar</button>
        </div>
    </div>
</main>
