.download__container {
    background-color: #EEE9DA;
    padding: 2rem;
}

.download__title {
    font-size: 3.6rem;
    text-align: center;
    padding-bottom: -15rem;
    padding-top: 15rem;
}

.download__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20rem;
    padding-top: 2rem;
    padding-bottom: 30rem;
}

.download__card {
    padding: 2rem;
    margin-bottom: 2rem;
}

.download__card:hover {
    background-color: #F5F5F5;
}

.download__card-title {
    font-size: 3.6rem;
    text-align: center;
}