<div class="developers__container">
    <h2 class="developers__title">Developers</h2>
    <div class="developers__cards">
        <div class="developers__card">
            <img src="../../../assets/img/hiram.png" alt="developer">
            <h3>Hiram Mendez</h3>
        </div>

        <div class="developers__card">
            <img src="../../../assets/img/pilgrim.png" alt="developer">
            <h3>Manuel Peregrino</h3>
        </div>
    
    
        <div class="developers__card">
            <img src="../../../assets/img/jorge.png" alt="developer">
            <h3>Jorge Molina</h3>
        </div>
    </div>

    
</div>
